
@font-face {
  font-family: karbon-regular;
  src: url('fonts/Karbon-Regular.otf');
}

@font-face{
  font-family: karbon-bold;
  src: url('font/Karbon-Bold.otf');
}

body {
  background: #333;
  margin: auto;
  width: 1090px;
  font-family: karbon-regular;
  font-size: 24px;
}

h1 {
  font-family: karbon-bold;
  font-size: 40px;
  color: skyblue;
}

.arc-text {
  font-family: karbon;
  font-size: 16px;
  color: skyblue;
}

.arc-center {
  fill: none;
}

#credit {
  position: absolute;
  font: 10px sans-serif;
  right: 10px;
  bottom: 10px;
  color: #ddd;
}

#credit a {
  color: inherit;
}
