
@font-face {
  font-family: myFirstFont;
  src: url('fonts/Karbon-Regular.otf');
}

body {
  background: #333;
  margin: auto;
  width: 1090px;
  font-family: myFirstFont;
}

.arc-text {
  font: 16px sans-serif;
}

.arc-center {
  fill: none;
}

#credit {
  position: absolute;
  font: 10px sans-serif;
  right: 10px;
  bottom: 10px;
  color: #ddd;
}

#credit a {
  color: inherit;
}
